{% extends 'base.html' %}
{% load static %}
{% block title %}Crear página{% endblock %}

{% block content %}

<main role="main">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8 offset-lg-2">
                <div>
                    <form action="" method="post">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{field.label}}</label>
                            {{field}}
                        </div>
                        {% endfor %}

                        <div class="d-grid gap-4 col-6 mx-auto mt-5">
                            <button type="submit" class="btn btn-primary" type="button">Crear</button>
                          </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}