{% extends 'base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
<main role="main">
  <div class="container mb-4">
    {% for page in page_list|dictsort:"id" reversed %}
    <div class="row mt-5">

      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-3">{{page.title}}</h2>
            <div>
              <p>{{page.content|striptags|safe|truncatechars:"200"}}</p>
              <p><a href="{% url 'pages:page' page.id page.title|slugify %}">Leer más</a>
                <!--
              {% if request.user.is_staff %}
                | <a href="#">Editar</a>
                | <a href="#">Borrar</a>
              {% endif %}
              -->
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}